/.DS_Store
/BrainDots/.DS_Store
/BrainDots/temp
/BrainDots/library
/BrainDots/profiles
/BrainDots/settings
/BrainDots/local
/BrainDots/assets/res/.DS_Store
/BrainDots/build/.DS_Store
/BrainDots/build/web-mobile/.DS_Store
build
